parameters:
	ignoreErrors:
		- '#Function add_action not found#'
		- '#Function add_filter not found#'
		- '#Function __ not found#'
		- '#Function get_template_directory_uri not found#'
		- '#Function register_post_type not found#'
		- '#Function register_taxonomy not found#'
		- '#Function add_shortcode not found#'
		- '#Function term_exists not found#'
		- '#Function wp_insert_term not found#'
		- '#Function register_nav_menu not found#'
		- '#Function get_nav_menu_locations not found#'
		- '#Function wp_create_nav_menu not found#'
		- '#Function set_theme_mod not found#'
		- '#Function wp_get_nav_menu_object not found#'
		- '#Function register_rest_route not found#'